@{
    ViewBag.Title = "Offline";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                <a href="http://www.worthalook.net/" title="Rock Offline">Rock Offline blog</a>.
            </p>
        </div>
    </section>
}
<article>
    <p>This is the sample website with RockOffline installed. It also has (offline) application caching setup.</p>
    <p>So RockOffline takes care of saving the form values and;</p>
    <p>AppCaching takes care of serving the web pages when a user is offline. </p>
</article>
